
modules = ["nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.mjs,*.cjs}"

[languages.javascript.languageServer]
start = ["typescript-language-server", "--stdio"]

[[ports]]
localPort = 3000
externalPort = 80

[http_service]
command = "python3 -m http.server 3000 --bind 0.0.0.0"
